body {
  background-image: url("images/cocktail-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

main {
  margin: auto;
  width: 75%;
  display: flex;
  min-width: 500px;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.6);;
  float: inside;
  border-style: solid;
  border-color: rgba(256,256,256,0.6);;;
}

#map {
  height: 100%;
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  width: 100%;
  background: black;
  height: 75px;
  align-items: center;
  background: rgba(0,0,0,1);
  border-bottom-style: outset;
  border-bottom-color: rgba(256,256,256,0.6);
}
header img {
  height: 75px;
  width: 75px;
}
header.h1{
 width: 60%;
}
nav {
  width: 40%;
  display: flex;
  align-items: center;
}
.menuItem {
  min-width: 75px;
  line-height: 75px;
  font-size: 20px;
  min-height: 75px;
  margin: 2px;
  background-color: rgba(125, 125, 125, 0.1);
  text-decoration: none;
}
a:link{
  color: aquamarine;
}
a:visited{
  color: aquamarine;
}
a:hover{
  color: aquamarine;
}
a:active{
  color: palevioletred;
}
#mapcontainer{
  display: flex;
  width: 75%;
  height: 75%;
  margin: auto;
  background: gray;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
article {
  float: left;
  text-wrap: normal;
  width: 40%;
  min-width: 345px;
  background: rgba(128,256,256,0.6);;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

section {
  float: right;
  width: 40%;
  background: rgba(128,256,256,0.6);;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#footerText {
  color: rgba(256,256,256,1);
}

#mainText {
  width: 100%;
}

#drinkOTD {
  margin: auto;
  text-align: center;
  min-width: 350px;
  margin-bottom: 15px;
}

.drinkOTDImg {
  max-width: 30%;
  max-width: 30%;
}

#rimg{
  width: 45%;
  min-width: 150px;
  margin: auto;
}
#rul{
  line-height: 30px;
  align-self: center;
  text-align: justify-all;
  list-style-type: none;
  margin: auto;
  padding: 10px;
  min-width: 150px;
  width: 45%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
#rmain{
  border: none;
  background: none;
  width: 100%;
  min-height: 75%;
}
#rtitle{
  color: black;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
}
#rinstructions{
  text-align: left;
  width: 100%;
  min-width: 150px;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
}
#rcontainer{
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-width: 250px;
  background: rgba(128,256,256,0.6);
  width: 50%;
  padding: 15px;
}
#rsearch{
  display: flex;
  width: 25%;
  margin: auto;
  flex-wrap: wrap;
  min-width: 250px;
  padding: 15px;
}
#cocktailinput{
  width: 80%;
  height: 25px;
  margin: 0;
  padding: 0;
}
div h1{
  width: 100%;
  color: aquamarine;
}
div h2{
  color: antiquewhite;
}
article h2 {
  color: white;
}
h1{
  color: white;
}
#search{
  margin: 0;
  padding: 0;
  width: 15%;
}
.rintro{
  margin:auto;
  background: none;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}
li:last-child {
  grid-column: 1/2;
  grid-row: 1/2;
}

#footercontent {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  padding: 12px;
}

@media (min-width: 500px) {
  #footercontent {
    grid-auto-flow: column;
  }
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: max-content;
  background: rgba(0,0,0,1);
  border-top-style: outset;
  border-top-color: rgba(256,256,256,0.6);
}

iframe{
  margin: 0;
  padding: 0;
}

#imagebox{
  width: 100%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.imageboximg{
  margin: auto;
  padding: 15px;
  width: 300px;
}

#imagebox{
  width: 100%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.imageboximg{
  margin: auto;
  padding: 15px;
  width: 300px;
}

p {
  font-size: x-large;
  font-weight: bolder;
}

#creatorstext{
  width: 100%;
  color: white;
}
#infobox{
  background: rgba(128,256,256,0.6);;
  width: 70%;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.creatorImg{
  width: 75%;
  border-radius: 50%;
}
#creatormain{
  background: none;
  width: 100%;
  border: none;

}
.creatorContainer{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#mainText{
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}