body {
  background-image: url("images/cocktail-background.jpg");
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
}

main {
  margin: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.6);;
  float: inside;
  border-style: solid;
  border-color: rgba(256,256,256,0.6);;;

}
#map {
  height: 95%;
  width: 95%;
  margin: auto;
}
header{
  display: flex;
  width: 100%;
  background: gray;
  height: 75px;
  align-items: center;
}
header img {
  height: 75px;
  width: 75px;
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
}
.menuItem {
  min-width: 75px;
  line-height: 75px;
  font-size: 20px;
  min-height: 75px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
#mapcontainer{
  display: flex;
  width: 50%;
  height: 50%;
  margin: auto;
  background: gray;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
article {
  float: left;
  text-wrap: normal;
  width: 40%;
  background: rgba(128,256,256,0.6);;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

section {
  float: right;
  width: 40%;
  background: rgba(128,256,256,0.6);;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: max-content;
  background: rgba(0,0,0,1);
  border-top-style: outset;
  border-top-color: rgba(256,256,256,0.6);;
}

#footerText {
  color: rgba(256,256,256,1);
}


#mainText {
  width: 100%
}

#drinkOTD {
  text-align: center;
}

.drinkOTDImg {
  max-width: 30%;
  max-width: 30%;
}

#rimg{
  width: 45%;
  min-width: 150px;
  margin: auto;
}
#rul{
  line-height: 30px;
  align-self: center;
  text-align: justify-all;
  list-style-type: none;
  margin: auto;
  padding: 0;
  min-width: 150px;
  width: 45%;
}
#rmain{
  border: none;
  background: none;
  width: 100%;
}
#rtitle{
  border-radius: 5px;
  width: 100%;
  margin-bottom: 40px;
}
#rinstructions{
  text-align: left;
  width: 100%;
  min-width: 150px;
}
#rcontainer{
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-width: 250px;
  background: gray;
  width: 50%;
  padding: 15px;
}
#rsearch{
  display: flex;
  width: 50%;
  margin: auto;
  flex-wrap: wrap;
  min-width: 250px;
  padding: 15px;
}
#cocktailinput{
  width: 80%;
  margin: 0;
  padding: 0;
}
div h1{
  width: 100%;
  color: palevioletred;
}
div h2{
  color: antiquewhite;
}
#search{
  margin: 0;
  padding: 0;
  width: 15%;
}